[2015-07-12 05:44] apg1980 opened #1 "Issue: Adding Location get error first"
...but adds location (unable to find location). After Refresh the app location appear, but only weather background image.

Server

    ownCloud version: 8.0.5
    PHP version: 5.5.25
    HTTPd server: apache 2.4.12
    HTTPS: via reverse proxy sophos utm

[2015-07-12 09:45] nerzhul commented on #1
Can you tell me what is the string you give to application ? I need to find why

[2015-07-13 05:02] apg1980 commented on #1
i gave some german local citys like Augsburg or Königsbrunn.
First the error appears but after reload wheater information shows,

[2015-07-13 10:11] nerzhul commented on #1
@apg1980 strange, for me this is working properly. Have you installed 1.0.2 version?
What is your browser ?
Can you look at the javascript console on your browser ?

[2015-07-14 04:52] apg1980 commented on #1
I am using 1.0.2 with ff 39.0

[2015-07-14 06:23] nerzhul commented on #1
A login popup ? Can you look at your PHP logs / apache / owncloud/data/owncloud.log ? I think there is an error inside

[2015-07-14 16:06] apg1980 commented on #1
sorry i revert my comment accordingly to logon popup. this was a publishing rule issue.

[2015-07-15 05:55] nerzhul commented on #1
Then, where we are ? Have you got a but or is this due to an app update ?

[2015-07-15 19:44] nerzhul commented on #1
I updated to 1.1.0, can you update and tell me ? this is not a bugfix, but i need more informaitons

[2015-07-16 15:56] hitam4450 commented on #1
I agree to the error message !

[2015-07-16 15:58] hitam4450 opened #2 "Make List of Cities sortable / sort them into country groups / own defined groups"
After adding some german and international cities i was unable to sort them.

It would be nice to make them sortable e.g. countries, regions, etc. or even self defined groups.

[2015-07-16 15:59] hitam4450 opened #3 "Set home Location"
It wpould be nice to define a 'home' Location!

regards, hitam4450

[2015-07-16 16:03] hitam4450 opened #4 "Hovering over weather data"
During hovering over weather data, they are 'blinded' by a white, solid bar!

Nothing can be seen! NO highlights!

regards, hitam4450

[2015-07-17 06:53] nerzhul commented on #2
Good idea !

[2015-07-17 06:54] nerzhul commented on #3
Could you be more precise about HOME ? Do you mean a default weather app to select when going into app ?

[2015-07-17 06:54] nerzhul commented on #4
Right, i noticed this this morning. I will fix it today

[2015-07-17 07:05] hitam4450 commented on #3
I mean Home or standard wetaher location!

[2015-07-17 07:06] nerzhul commented on #3
yes but by standard, you mean default location ?

[2015-07-17 07:07] hitam4450 commented on #3
yes.

[2015-07-17 07:16] nerzhul commented on #1
sorry i don't understand,

[2015-07-17 07:39] hitam4450 commented on #1
Sorry, i can confirm the error message! Still have the same problem. When I press the add button a second time, it mentioned, that the city had been already added!

[2015-07-17 07:40] hitam4450 opened #5 "Weather Theme"
How about a nice Weather Theme(Background, color, style of information boxes) like the one in the screen shot??

regards, hitam4450

[2015-07-17 07:42] nerzhul commented on #1
Okay,
can you look at firefox developper console, tab Network, then add a city and tell me what is the response (HTTP code + response message if JSON)

[2015-07-17 07:54] hitam4450 commented on #1
Sory, how to get to the developer console in FF? I do not know! I currently use FF 39!

[2015-07-17 08:14] nerzhul commented on #1
Type F12

[2015-07-17 08:23] hitam4450 commented on #1
see screenshot
![bildschirmfoto vom 2015-07-17 10 22 56](https://cloud.githubusercontent.com/assets/9738727/8743313/dfb046b2-2c6d-11e5-88cd-e983d2525f6f.png)

[2015-07-17 08:25] nerzhul commented on #1
409 conflict means the entry is already here. Can you add a new entry to reproduce the problem ?

[2015-07-17 08:29] hitam4450 commented on #1
The response is:
![bildschirmfoto vom 2015-07-17 10 28 18](https://cloud.githubusercontent.com/assets/9738727/8743376/9ae96b16-2c6e-11e5-8454-2abc327b7166.png)
Sorry, I have to stop now, I have to see a customer! Sorry! MAybe later!

[2015-07-17 08:31] nerzhul commented on #1
No problem @hitam4450 thanks for your time. The message is error 500, right, i think you should look at your owncloud data/owncloud.log in the server

[2015-07-18 07:02] nerzhul commented on #5
do you mean replacing some texts with images, for example replace sky is clear by a sun image ?

[2015-07-18 07:12] nerzhul commented on #4
Fixed: 5f30ba22e6f8dc0c8cdaa37f2b743d9f575c1526

[2015-07-18 07:12] #4 closed

[2015-07-18 08:51] hitam4450 commented on #5
Yes, that is another idea, more pleasant then text only!

Nice Background pictureinthe app... e.g. like the one in the screenshot!

[2015-07-18 11:08] nerzhul commented on #5
@hitam4450 thanks, i have take many time to find great illustrations for the weather with an acceptable licence :)

[2015-07-18 14:05] nerzhul commented on #3
https://github.com/nerzhul/owncloud-weather/commit/170014edabda7f064597c913ed9e8f69aa5141d9

[2015-07-18 14:05] #3 closed

[2015-07-18 14:19] hitam4450 opened #6 "The apps disappeared"
I use OC 8.1  and by checking my activated apps, i found out aboiut the new release (1.2) of the weather app.

I pressed the button to update the app.

After the app updated, it disappeared from the menu and after checking from the /apps folder as well!

Great Update!

regads, hitam4450

[2015-07-18 14:27] nerzhul commented on #6
i think this is a problem due to the folder name. did you see owncloud-weather in your apps directory ? As i see github backend for download is not very pleasant

[2015-07-18 14:31] hitam4450 commented on #6
Well, the folder was named weather as required. However, manual update was successful. It looks much prettier now (in my opinion!)

Thanks for your efforts!
regards, hitam4450

[2015-07-18 14:48] hitam4450 commented on #5
The sample in V 1.2 looks nicer, rather a solid dark background!

[2015-07-18 20:28] nerzhul commented on #5
the solid dark background was due to a path problem on non root owncloud instances. Closing ticket: )

[2015-07-18 20:28] #5 closed

[2015-07-18 20:29] nerzhul commented on #6
I will modify the download to install app properly on next releases, and don't use github for this

[2015-07-18 20:49] v1r0x opened #7 "Translation"
Really cool app, but I miss translations.
For the openweathermap API you can use `&lang=xx`, for the rest an oc-based translation would be great. I could help with german translation ;)

[2015-07-18 20:53] v1r0x opened #8 "Not correct displayed on small screens"
On my laptop I have a screen size of 1366x768 and this is what it looks like (and I can not scroll down):
![weather](https://cloud.githubusercontent.com/assets/9248714/8763509/d927fae6-2d9f-11e5-941a-b68e395f4878.png)

[2015-07-20 15:17] nerzhul commented on #8
Hi, thanks for the report i will add a more responsive design

[2015-07-20 15:18] nerzhul commented on #7
You are right, we can use the translations, but i need to find the good way because we use some english phrases to do some cases.

[2015-07-21 17:58] nerzhul commented on #8
b3a2f9bcc2432dcc533b3ff0ff37e4ad67e9be09

[2015-07-21 17:58] nerzhul commented on #8
This is now fixed :)

[2015-07-23 10:34] v1r0x commented on #8
Unfortunately, it isn't completely fixed. It works for some cities now (e.g. Berlin, from last screenshot works fine), but for other cities it looks similar to the last screenshot.
Maybe this is related to the german translations I use (`lang=DE` in API call). I will look into this and create a PR, if I have some free time (maybe next week).

[2015-07-23 10:49] nerzhul commented on #8
Will study it soon, thanks for the report.
Can you give me an example of city which doesn't work ?

[2015-07-23 10:55] v1r0x commented on #8
Berlin still doesn't work, another city was ok.
Here a new screenshot of berlin:
![berlin](https://cloud.githubusercontent.com/assets/9248714/8848727/00275658-313a-11e5-8397-3b2efed3198d.png)

[2015-08-18 02:33] Amgine0 opened #9 "Add city: List does not update on add - Enhancement"
Server

    ownCloud version: 8.1.1
    PHP version: 5.4
    HTTPd server: Apache2
    HTTPS: Yes?

Content of /owncloud/data/owncloud.log

Does not generate a log entry.

Description of the issue:

On a clean, git install of the app, adding a city results in error text "Failed to add city. Contact your administrator." However, a page reload will show the city has been added to the list of cities.

[2015-08-21 16:43] nerzhul commented on #9
@Amgine0 can you tell me which city is this ?

[2015-08-21 16:44] #6 closed

[2015-08-21 16:44] nerzhul commented on #1
@hitam4450 ?

[2015-08-21 16:49] Amgine0 commented on #9
Any city. This is a duplicate of bug #1, plus an enhancement request that when a city is successfully added the list of cities is reloaded.

[2015-08-21 17:08] nerzhul commented on #9
@Amgine0 this is very strange. Have you got some PHP skills to debug why the server do this ? I cannot reproduce this bug :s

[2015-08-21 17:10] Amgine0 commented on #9
Maybe. I will try to look at it this weekend.

[2015-08-21 17:11] nerzhul commented on #9
Thanks

[2015-09-02 14:48] hitam4450 opened #10 "Check this issue - directory name"
https://github.com/owncloud/updater/issues/169

regards, hitam4450

[2015-09-02 17:29] RealRancor commented on #10
See https://github.com/fcturner/passwords/issues/56#issuecomment-136129630 how to do this.

[2015-09-03 07:44] nerzhul commented on #10
I do this today

[2015-09-03 08:16] nerzhul commented on #10
Fixed on apps.owncloud.org using http://ftp.unix-experience.fr/owncloud-weather/v1.2.0.zip link with a correct archive format

[2015-09-03 08:16] #10 closed

[2015-09-15 05:36] NateChambers opened #11 "Tries loading resources from wrong location"
ownCloud version: 8.1.1
PHP version: 5.4
HTTPd server: Apache2
HTTPS: No
owncloud-weather: 1.2.0

Tries to load images in the apps/weather/img folder from http://domain.tld/img/XXX.png instead of however it be loading them. Which results in a 404 not found.

![9-15-2015 1-39-09 am](https://cloud.githubusercontent.com/assets/1159250/9868709/2d570bd4-5b4a-11e5-840f-1816e91268e3.png)

[2015-10-21 15:01] hitam4450 opened #12 "NO city found"
After a clean install of OC 8.2, installing and enabling the weather app I want to add a city.... I typed New York and pushed add once ...what happened ??

See enclosed screen shot!

it does not know New York, one of the most famous cities in the world!

how come ??
regards, hitam4450
![weather_1 2](https://cloud.githubusercontent.com/assets/9738727/10640454/09eb4808-7815-11e5-994c-facc36e5014d.pn

[2015-10-23 10:02] nerzhul commented on #12
Hi @hitam4450 i look at this today, i have same problem on my instance in other paths

[2015-10-25 08:57] nerzhul commented on #1
No news, closed.

[2015-10-25 08:57] #1 closed

[2015-10-25 08:58] nerzhul commented on #12
@hitam4450 i'm working on this. openweathermap API changed its function to add an api key, i'm currently working on it

[2015-10-25 10:06] nerzhul commented on #12
Fixed by e863dd3dba6d0796e9cd482eaa21172cff319559
Some things are to polish and i release a new version

[2015-10-25 10:06] #12 closed

[2015-10-25 10:07] nerzhul commented on #9
Can you tell me if e863dd3dba6d0796e9cd482eaa21172cff319559 fixes the problem (don't forget to add an openweathermap api key)

[2015-10-25 12:13] nerzhul commented on #8
It's now fixed.

[2015-10-25 12:13] #8 closed

[2015-11-19 19:23] MrEnderkiller commented on #9
@nerzhul I have the same problem
ownCloud version: 8.2.1
PHP version: 5.6
HTTPd server: Apache2
HTTPS: Yes
Weather version 1.3.0
Seems like the app has been updated to integrate the changes you suggested, but this doesn't fix the problem. It's not a huge inconvenience, but the app is about weather so it would be good to get this fixed. I can help you get some log, but don't have a big PHP knowledg

[2015-11-20 09:22] nerzhul commented on #9
hi @MrEnderkiller thanks for you report.
Can you look two things: your apache/PHP error logs & your browser JS logs ?

Thanks

[2015-11-20 10:38] MrEnderkiller commented on #9
Hi, thanks for your answer.
Upon checking in my Apache log I found this error message (repeated twice) :

`[Fri Nov 20 11:19:30.665463 2015] [autoindex:error] [pid 11525] [client xx.xx.xx.xx:47951] AH01276: Cannot serve directory /var/www/owncloud/apps/weather/img/: No matching DirectoryIndex (index.php,index.html) found, and server-generated directory index forbidden by Options directive`

Now I

[2015-11-20 12:54] nerzhul commented on #9
@MrEnderkiller sorry but this issue is only a thing to fix for background, not a problem with list reload.
Can you do the following thing:
Go to the app, verify that you have an openweathermap API key setted in the app settings, open your browser developper console in the network tab, add a city, tell me the output of the tab.

[2015-11-20 13:22] MrEnderkiller commented on #9
Yes, I have an openweathermap API key set.
Tried what you suggested, here's what I get :
`POST https://xxx.com/index.php/apps/weather/city/add 404 (Not Found)`
and, in front of that, :
`angular.min.js?v=3b906e9bffa2976e4c1ff0938a761722`

[2015-11-20 13:55] nerzhul commented on #9
@MrEnderkiller strange, i will look at the process. Which city did you added ?

[2015-11-20 14:29] MrEnderkiller commented on #9
@nerzhul I tried many of them, such as Paris, New York, Washington DC...
They work after reloading the webpage though.

[2015-11-20 14:52] nerzhul commented on #9
thanks @MrEnderkiller i will look at this soon, maybe there is an API problem to check the city before adding it since the new openweathermap API key usage

[2015-11-21 08:42] nerzhul commented on #9
@MrEnderkiller i have added some patches this morning, can you test with the commits added to master this morning ? I fixed a problem with city with spaces and unified the HTTP fetching method

[2015-11-21 10:15] MrEnderkiller commented on #9
@nerzhul I have trued with these commits, the 404 not found error doesn't appear anymore in the JS console (getting a 200 OK status) but the error message still appears until I relad the page. I tried both cities with spaces and cities without them. This is quite strange as there isn't even a console error anymore, so nowhere to start from to debug it.
I looked again in the Apache / PHP log, nothi

[2015-11-21 14:07] nerzhul commented on #9
@MrEnderkiller can you tell me what is the HTTP output on the city/add call in the network tab of browser debugging console please

[2015-11-21 14:20] MrEnderkiller commented on #9
Well I don't really know what that corresponds to, what I see in the network tab is, in the "name" column, `add` (which is the line that interests us), the next column called "Status" is `200` (OK), then "type" `xhr` and the initiator column with a few other ones about size and time which aren't of any interest I guess.

[2015-11-21 14:31] nerzhul commented on #9
Look at this picture on firefox to find what i need :)
![capture d ecran de 2015-11-21 15-31-00](https://cloud.githubusercontent.com/assets/119752/11318897/e68cacea-9064-11e5-8e99-de48bb685636.png)

[2015-11-21 14:55] MrEnderkiller commented on #9
Alright, found it. Strangely, in the response tab I don't have anything, I have written JSON like you but no "id" or anything like that (I have previously selected the "add" POST request). I have checked for other requests and there is response for these, so apparently the client is getting no response for this kind of request I guess. Now I can't interpret that behaviour, if it might be normal or

[2015-11-21 14:56] nerzhul commented on #9
Okay, what is your DB backend ?

[2015-11-21 14:58] MrEnderkiller commented on #9
I'm using MySQL version 5.5.46.

[2015-11-21 17:01] nerzhul commented on #9
@MrEnderkiller i changed a little request which is the problematic request for your case, can you pull the last master and retry ? thanks

[2015-11-21 19:01] MrEnderkiller commented on #9
@nerzhul Awesome, this worked! No more error message.
Thanks for your help and your commitment into all this stuff. I wish I could do the same as you're doing, but I don't have the knowledge nor the time for this.

[2015-11-21 20:14] nerzhul commented on #9
@MrEnderkiller no problem (PS: i'm french too). Thanks for your help and time to help me to reproduce this problem with MySQL. I'm using PgSQL on my test servers and i didn't thought the bug could be due to MAX not indexed as MAX in MySQL with PDO, like PgSQL.
Application is not very difficult to understand if you look at the code it's a tiny code with a angular JS frontend, without too many code

[2015-11-21 20:14] #9 closed

[2016-03-09 10:59] aspdye commented on #7
Transifex?

[2016-10-03 09:17] e-alfred commented on #11
The same problem appears if index..php is activated.

[2016-10-26 15:53] webislands opened #13 "Is not working"
i have latest version and imposible add this city http://openweathermap.org/city/6354895
check you validation city plz i am using offical nma and many many time

[2016-10-26 18:00] nerzhul commented on #13
In fact the city is sent as is to openweathermap, maybe there is another problem, will look at this tomorrow

[2016-12-09 21:32] Hanzei opened #14 "Missing version information for Nextcloud 11"

[2016-12-10 23:47] nerzhul commented on #14
Please add more informations, else i will close that

[2016-12-11 11:32] Hanzei commented on #14
Server
    nextCloud version: 11.0 RC1
    PHP version: 7.0.11
After upgrading to version nextcloid 11 the warning `No lower version limit for Nextcloud was set for this app. This will be treated as an error in the future.` appeared  in the app section.

[2016-12-11 12:37] Hanzei opened #16 "App fails to start on Nextcloud 11"
**Server**
nextCloud version: 11.0 RC1
PHP version: 7.0.11

**Content of /owncloud/data/owncloud.log**
``
TypeError: Argument 5 passed to OCA\Weather\Controller\CityController::__construct() must be an instance of OCA\Weather\Controller\SettingsMapper, instance of OCA\Weather\Db\SettingsMapper given, called in /var/www/virtual/minerva/nextcloud.cjf-berlin.de/apps/weather/appinfo/application.php on

[2016-12-12 06:34] nerzhul commented on #16
Fixed by https://github.com/nerzhul/owncloud-weather/blob/v1.3.4/appinfo/info.xml

[2016-12-12 06:34] #16 closed

[2016-12-14 10:48] Hanzei commented on #14
Fixed with  16c09a6

[2016-12-14 10:48] #14 closed

[2016-12-19 15:31] extrablind commented on #13
Quickly : It seems to be due to 404 error on this specific URL : /index.php/apps/weather/city/add

[2016-12-19 15:45] nerzhul commented on #13
404 is returned when the OWM API return 404 in fact

[2017-02-27 16:29] MariusBluem opened #18 "Rebrand to Nextcloud"
- [x] README.md
- [x] info.xml
- [x] screenshot
- [x] issue template

I am on it 💪 @nerzhul @LukasReschke

[2017-02-27 16:33] MariusBluem opened #19 "Release in Nextclouds App Store"
As soon as

- [x] https://github.com/nextcloud/app-certificate-requests/pull/53
- [x] #18 (Rebranding of Repository and this App (especially info.xml)

is done, we should check - whether this app is working with Nextcloud 11 and then **RELEASE** 🙌

@nerzhul

[2017-02-27 18:09] MariusBluem opened #21 "Sidebar should match with Nextclouds"
Nextcloud Weather:

<img width="323" alt="bildschirmfoto 2017-02-27 um 18 15 28" src="https://cloud.githubusercontent.com/assets/19711361/23373409/230a1a4e-fd20-11e6-897c-70cc72e73b5a.png">

Nextcloud Files:

<img width="347" alt="bildschirmfoto 2017-02-27 um 19 08 04" src="https://cloud.githubusercontent.com/assets/19711361/23373415/2aec1492-fd20-11e6-9f40-a78ca1ef45e1.png">

@nerzhul @nextcloud/

[2017-02-27 18:10] MariusBluem opened #22 "Load first City when App is started"
...otherwise it will cause a blank screen for the user, which is not very nice ;)

@nerzhul

[2017-02-27 18:13] MariusBluem opened #23 "Make App Icon less light / Show it on app details page"
The app icon is a bit to light:
<img width="90" alt="bildschirmfoto 2017-02-27 um 19 10 46" src="https://cloud.githubusercontent.com/assets/19711361/23373548/c5097588-fd20-11e6-809e-856c9adfe292.png">

It should be also shown on the details page:
<img width="254" alt="bildschirmfoto 2017-02-27 um 19 11 20" src="https://cloud.githubusercontent.com/assets/19711361/23373491/8ccab38a-fd20-11e6-9f59-f8

[2017-02-27 18:17] MariusBluem opened #24 "API Key for OpenWeatherMap should be provided by the Administrator"
...this would make it easier for users to simply **use** this app without handling any API keys 😉

Maybe the Administrator could also leave the field blank, which would mean - that the user needs to provide a key 🤔

What do you think? @nerzhul

[2017-02-27 18:32] MariusBluem commented on #18
Done with #20

[2017-02-27 20:39] #18 closed

[2017-02-27 20:40] nerzhul commented on #24
@MariusBluem this could be a nice idea, i'm not very familiar with admin app settings

[2017-02-27 20:41] nerzhul commented on #22
what is "first city" ? maybe we should use browser GPS ?

[2017-02-27 20:43] nerzhul commented on #21
If there is a framework option to do it easily i can port it

[2017-02-27 20:44] MariusBluem commented on #22
If you have not set your home - the first city in your list should "act" as home and should be loaded :)

[2017-02-27 20:44] nerzhul commented on #19
App is working with 11.0.1 as i'm using it on my server.

[2017-02-27 20:45] nerzhul commented on #22
Oh i see, yes could be a nice idea. I'm very busy these days but maybe i can provide a patchset this week

[2017-02-27 20:45] MariusBluem commented on #19
I have tested it too 👊🙈

[2017-02-27 21:22] MorrisJobke commented on #21
It's basically using the same CSS classes (and DOM structure) as the files app.

[2017-02-28 09:10] MariusBluem opened #25 "Use more APIs"
We could also use more APIs from OpenWeatherMap for providing more information about the Weather. This would require more keys I think. It would make sense, that all of them would be set by the administrator of course (#24)

http://openweathermap.org/api

[2017-02-28 09:53] MariusBluem opened #26 "Integration with Notifications"
Send weather notifications to users. Maybe also by using the Weather Alerts API by OpenWeatherMap: http://openweathermap.org/triggers

**Examples:**

- "Take a sunglass with you - it gets a sunny day in Stuttgart"
- "Storm alert for Berlin"

[2017-02-28 09:55] MariusBluem opened #27 "Integration with Maps"
Weather happens all around the world ... https://github.com/nextcloud/maps ⛅️

@nextcloud/maps

[2017-02-28 12:53] nerzhul commented on #19
Done https://apps.nextcloud.com/apps/weather

[2017-02-28 12:53] #19 closed

[2017-02-28 22:56] gsantner commented on #13
Same here:

![grafik](https://cloud.githubusercontent.com/assets/6735650/23438273/88499ee2-fe11-11e6-9895-c443c247179a.png)
![grafik](https://cloud.githubusercontent.com/assets/6735650/23438283/932725fa-fe11-11e6-8a55-2539b442c40f.png)

[2017-03-01 06:43] nerzhul commented on #13
The server side part logs can be useful

[2017-03-01 08:25] SpiGAndromeda commented on #13
I have the same problem.

Server logs show the following line:

`[autoindex:error] [pid 11190] [client xx.xxx.xxx.xx:60249] AH01276: Cannot serve directory /var/www/nextcloud/apps/weather/img/: No matching DirectoryIndex (index.php,index.html) found, and server-generated directory index forbidden by Options directive`

Thats the apache vhost:
        DocumentRoot /var/www/nextcloud

        Alias

[2017-03-01 08:28] MariusBluem commented on #13
Are you sure you have set an OpenWeatherMap API Key?

[2017-03-01 08:30] SpiGAndromeda commented on #13
No I dit not ... I didn't even know that this is required. How to do so?

[2017-03-01 09:44] MariusBluem commented on #13
You'll need to register for an API key over here: http://openweathermap.org/price
Then, you can set this key in the apps settings - it can take up to 5 minutes until the cities are found 😬

[2017-03-01 09:46] MariusBluem commented on #13
We should make this more clear @nerzhul

[2017-03-01 10:38] nerzhul commented on #13
@MariusBluem ofc

[2017-03-01 12:04] nickvergessen commented on #23
For the apps management page the icon needs to be named `app.svg` or `weather.svg`

[2017-03-02 21:41] gsantner commented on #13
If the error says "No city with this name found", nobody can guess that the key is missing. It's a wrong error message in this case.

Also, it seems somewhat a bad idea, that every user has to provide his own key. If I activate this, and a friend logs in he just want to use it, it's not his job to administrate and enter keys. --> Issue no 24

[2017-03-09 10:47] Anon01234 commented on #13
Hi, Maybe this will help. The app is working but i can add a city. When i look into the logs i see this:

Login failed: 'email@address.here' (Remote IP: '188.206.102.52')

email@address.here = your personal email address given in your profile.

Sorry if this is something not related.

[2017-03-09 10:49] nerzhul commented on #13
We don't use any mail address anywhere for remote calls, only OWM API token is used.

[2017-03-09 11:13] Anon01234 commented on #13
Hi, I figured it out and I understand it. Nice work btw ;)

[2017-03-09 13:09] webislands commented on #13
My probleme is ok . i dont have see the place enter api key in setting in left down section

[2017-03-11 22:47] tflidd commented on #22
If there are only a few cities, you can also show all cities. Or make it like in most mobile phone apps:
show a list on the front page with each city name, temperature and a sunny/cloudy-symbol, on a click you open a drop-down box with more details of this location.

[2017-03-11 22:53] tflidd commented on #13
Two points:

- if there is no API key, don't let the user add a city, indicated that the API key is missing
- if possible, differentiate between a city not found and other problems (no valid API key, connection problems, ...)

[2017-03-16 10:19] MariusBluem opened #28 "Think about the images and where they are stored"
See https://github.com/nextcloud/server/issues/3846 ... Weather is a more than huge application if you compare it with other apps like calendar or other apps. This is because of the large image files, this app ships 😁

Maybe we should think about the way the images are stored - and maybe also host them somewhere else 🤔

@nerzhul

[2017-03-17 12:50] QkiZMR commented on #13
I added API and still get 404 on add city.

[2017-03-25 13:21] BernhardPosselt opened #29 "Provide a smaller screenshot for the app store"
Hi, the current app store upload features a screenshot (https://github.com/nextcloud/weather/blob/master/screenshots/1.png) which is 2Mb big.

It would be cool if someone could reduce the size so that the app list loads faster. The preferred way is to use the **small-thumbnail** attribute for the preview image, see https://github.com/nextcloud/news/blob/master/appinfo/info.xml#L25

[2017-04-02 07:14] lajthabalazs commented on #12
I'm now having the same issue on a freshly installed nextcloud with Weather 1.3.5

[2017-04-02 07:28] MariusBluem commented on #12
Have you added an API key?

[2017-04-15 18:28] cubefoo opened #31 "background image is not responsive and repeats"
### Steps to reproduce
1. click on city name so background image appears
2. enlarge your browser window to max. width
(for image to repeat you screen needs to be larger than background image size)

### Expected behaviour
Background image should
- show the complete image (as much as possible according to screen size)
- scale according to browser window size (responsive behaviour)

### Actual behavi

[2017-04-15 21:07] nerzhul commented on #31
Thanks for your contributions

[2017-04-15 21:07] #31 closed

[2017-04-15 21:56] cubefoo commented on #21
@nerzhul // fix for this was also included in last patch (line 6 in style.css)
sorry, it's my first contribution on github so I guess I didn't mark this properly after I opened 2 pull requests for the same file

[2017-04-15 22:03] #21 closed

[2017-04-15 22:03] nerzhul commented on #21
No problem :)

[2017-04-23 12:48] jancborchardt commented on #21
@cubefoo great design contributions there! :) Keep it coming ;)

[2017-05-01 00:37] spacorum opened #33 "AngularJS error when adding city name"
I´m getting an error on file /apps/weather/js/angular/angular.min.js when I try to add a new city:

`angular.min.js?v=a4c3b07…:107 TypeError: $http.post(...).success(...).error(...).fail is not a function
    at b.$scope.addCity (app.js?v=a4c3b07…:266)
    at fn (eval at compile (angular.min.js?v=a4c3b07…:212), <anonymous>:4:305)
    at f (angular.min.js?v=a4c3b07…:253)
    at b.$eval (angular.min

[2017-05-01 06:29] nerzhul commented on #33
404 not found mean the remote city is not found on OWM can you check on openweathermap.org ?

[2017-05-01 13:24] spacorum commented on #33
I´m afraid that´s not the problem. The city appears perfectly in openweathermap. This is a JS error, I guess that even before the AJAX call that brings the cities list.

On the other side, the 404 comes when accesing the add url of the form (maybe another problem).

[2017-05-01 14:02] linuxrrze commented on #33
Same here:

[code]

Environment:
- Nextcloud 11.0.3
- weather: 1.3.5

[2017-05-02 10:34] nerzhul commented on #33
I'm working on it, updating to 1.6.2

[2017-05-02 10:52] nerzhul commented on #33
Fixed by c6f3df8df289c18d7ec6c25a93d0f6cbcd3663b2

[2017-05-02 10:52] #33 closed

[2017-05-02 10:54] nerzhul commented on #13
Issue is now fixed in master, an URL encoding error was present and was fixed

[2017-05-02 12:53] nerzhul commented on #25
Can you be more precise and tell us which API can be useful ?

[2017-05-02 14:02] nerzhul commented on #22
I'm working on it in various ways

[2017-05-02 15:31] nerzhul commented on #22
Fixed by b2161ce37a9de8ce3a8fdf856ba90dc05f158a2b

[2017-05-02 15:31] #22 closed

[2017-05-02 15:32] #13 closed

[2017-05-03 15:26] nerzhul commented on #29
Done 6f130a0d41203b8df81171215a548e34523e25df

[2017-05-03 15:26] #29 closed

[2017-05-03 15:29] nerzhul commented on #28
Hosting somewhere else permits to track user easily. Also in some configurations, it's not allowed to hotlink. I reduced the png sizes with this commit: 815137fc889637bf42d3785953ab00165fa4356f

This will enhance a little bit user experience

[2017-05-03 15:29] #28 closed

[2017-05-04 19:40] spacorum commented on #33
Thanks, nerzhul!
Excuse me if this question is too obvious but.. how can I get this update now?

[2017-05-04 19:59] nerzhul commented on #33
Just wait, i will release a version this weekend

[2017-05-08 06:31] vincegre commented on #7
Some updates about translation ? as it's still in english :(

[2017-05-15 06:36] Yionel opened #34 "Smartphone view"
Is it possible to hide left bar (with city list) ?
On smartphone (Nexus 5, 5") on Firefox, I can't see main all view with city, temperature, humidity etc. and I can't see at all array hours list predictions.
Thank you
https://cloud.ionl.fr/index.php/apps/files/?dir=/Photos&fileid=3#

[2017-05-17 10:36] Stibila opened #35 "Save button doesn't work in admin settings"
### Steps to reproduce
1. Go to Admin -> Additional settings
2. Provide OpenWeatherMap API Key
3. Click on Save button

### Expected behaviour
API Key being saved

### Actual behaviour
Nothing

### Server configuration

**Operating system**:
CentOS 7.3.1611

**Web server:**
Nginx 1.12.0

**Database:**
MariaDB 5.5.52

**PHP version:**
7.1.4

**Nextcloud version:** (see Nextcloud admin page)
11.0.3

[2017-05-17 12:55] nerzhul commented on #35
oh sorry it was accidentally released. This feature is not finished yet... you should use personnal setting atm

[2017-05-21 09:42] ho1ger opened #36 "Weather app does not load / loads entirely white page"
### Steps to reproduce
1. Install weather app
2. Open app
3. Behold the beauty of an entirely white page

### Expected behaviour
The app starts

### Actual behaviour
The app does not start but an entirely white page is shown

### Server configuration
**Operating system**: Linux holger-kinkelin.de 3.2.0-4-686-pae #1 SMP Debian 3.2.68-1+deb7u6 i686

**Web server:** Apache/2.4.10 (Debian) (apache2han

[2017-05-21 11:33] nerzhul commented on #36
hello, a screenshot and console logs from browser is appreciated

[2017-05-21 13:18] ho1ger commented on #36
{"reqId":"IIWW44Rvy464VmJAh0Cl","level":3,"time":"2017-05-21T13:17:12+00:00","remoteAddr":"127.0.0.1","user":"xxx","app":"PHP","method":"GET","url":"\/index.php\/apps\/weather\/","message":"Call to undefined method OC\\Server::getDb() at \/var\/www\/html\/xxx\/apps\/weather\/appinfo\/application.php#43","userAgent":"Mozilla\/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit\/603.1.30 (KHTML, lik

[2017-05-23 06:47] nerzhul commented on #36
nextcloud 12 compat fixed. Please update to 1.4.2

[2017-05-23 06:47] #36 closed

[2017-05-24 08:55] tavinus commented on #35
Heh!
Took me a few hours for me to get here too...

Does the app store update from master?
It would be nice to have the admin setting working, but maybe disable the option in the master while it is not yet implemented?

[2017-05-24 08:57] nerzhul commented on #35
Yes i just miss some time i'm working on other free projects at the same time, i hope some can help us to contribute or having a second developer on the project can be nice :)

[2017-05-27 18:21] D4rkPh0en1x opened #37 "Not working at all"
Hi

I just installed a fresh copy of Nextcloud 12 an activated the weather app to.
Reading here that the admin settings for the api key doesn't work yet I entered it on the weather page itself but when a city I'm just getting a fatal error.

In the log I can see this:
Undefined index: openweathermap_api_key at /home/cloud/public_html/apps/weather/templates/admin.php#6

[2017-05-28 10:40] nerzhul commented on #37
Hello,
this is for the admin setting not the client setting itself it's not problematic for making app to work as admin setting is not used

[2017-05-28 11:16] D4rkPh0en1x commented on #37
Yes I know? That is what I wrote as I read it here. I first thought it was due that there the API Key isn't saved but than I found the post here. But even entering the key where it should be and where it is saved it doesn't work so...

[2017-05-28 13:27] nerzhul commented on #37
strange, i reinstalled weather on my nextcloud 12 recently and it works. Do you have any log (HTTP log) when adding the key ? what is the answer when trying to add a city

[2017-05-28 14:40] D4rkPh0en1x commented on #37
Hi
For me it's no comprehensible. I deactivated the app yesterday and nof for the testing to check in my apache log I reactivated it again and now it simply works??
Miracle? Who knows...

[2017-05-28 14:40] #37 closed

[2017-06-01 04:10] anomaly256 commented on #37
I have this same problem.  I've tried removing/adding it a few times, isn't working.  Same error when I browse to the admin settings to set the api key:

Undefined index: openweathermap_api_key at /var/www/nextcloud/apps/weather/templates/admin.php#6

I don't think it's creating its db entries correctly

[2017-06-01 04:24] anomaly256 commented on #37
Oook.  I figured it out.  The presence of the api key field in admin settings was confusing and misleading.  Perhaps this should be removed or disabled until that feature is ready?

[2017-06-05 10:50] kylerschin commented on #35
Yep.... Me too....
![image](https://cloud.githubusercontent.com/assets/7539174/26781188/1735828e-49a2-11e7-9766-8e146541c684.png)

[2017-06-13 20:29] xXSTrikeXx commented on #35
Has someone got a solution for saving it globally in admin setts?

[2017-06-13 21:47] MariusBluem commented on #35
This is not implemented yet ;)

[2017-06-14 07:10] nerzhul commented on #35
Yes sorry, i should patch it but i'm very busy , you can also propose a pr to drop Old user setting and create handler for admin setting

[2017-06-22 11:16] JackFarrand commented on #11
Same issue here, getting 404s and 403s everywhere when loading from the img folder

[2017-06-25 13:50] StevenShockley opened #38 "Improve error messages with no/invalid API key"
The error message provided when the API key is invalid doesn't point to the issue.

### Steps to reproduce
1. Open weather app.  Delete any existing cities, and set API key to 0 (if already set).  Switch to another app and back if needed to clear the page.
2. Search for a city.  App returns "Fatal error: please check your owncloud.log and send a bug report here: https://github.com/nextcloud/weathe

[2017-06-26 05:55] nerzhul commented on #38
hi,
those errors are not related with weather app, sorry

[2017-06-26 13:00] StevenShockley commented on #38
Thanks for the reply.  They only seem to occur when I reproduce the error, and they're the only messages in the log.  At any rate, I think the error message could be improved, or the app should prompt for an API key if the key is invalid.

[2017-06-26 22:07] benyanke opened #39 "City Add Error"
![image](https://user-images.githubusercontent.com/4274911/27562322-b44b9090-5a91-11e7-8ed0-7bb5b54b39fb.png)

Upon adding a city to the weather list, I receive this error. Owncloud.log (I assume you mean /data/nextcloud.log?) shows the following:

`{"reqId":"OOWphagsJRaPg3D2T63M","level":3,"time":"2017-06-26T22:02:46+00:00","remoteAddr":"71.13.249.254","user":"benyanke","app":"PHP","method":"GET"

[2017-06-27 05:47] nerzhul commented on #39
i really should finish this admin template... duplicate closing, thanks for your report

[2017-06-27 05:47] #39 closed

[2017-06-28 10:01] Hummingfrogs opened #40 "Cannnot add a city and Fatal Error occurs"
### Steps to reproduce
1.Click Weather App in user page
2.Click "Add a city ..." button , fill the city name and click "Add" button
3.Then issue occurs

### Expected behaviour
The city will be saved and added properly.

### Actual behaviour
At adding city-name field, "Fatal Error:please check your owncloud.log and send a bug report here: https://github.com/nextcloud/weather/issues" will be display

[2017-07-03 07:01] henrikp commented on #40
Have you entered your OpenWeatherMap API key in the settings?

[2017-07-03 07:55] Hummingfrogs commented on #40
Hi, I added OpenWeatherMap API into "Admin > Additional settings > Weather" and clicked Save button, it seems to be saved once, but after leaving admin page and when return to this page, API Key disappears (remain in blank).
Then after this I tried to add a city, and failed.  I don't think this is a bug, but I don't figure out what or how to to add a city correctly.

[2017-07-03 08:18] henrikp commented on #40
Just tried it myself, it doesn't indeed save the key - a bug there? I added the key from the app itself (cog in the left bottom corner)

[2017-07-03 08:32] Hummingfrogs commented on #40
Wow! Adding API key into App's Settings text field, succeeded too.
Thanks!
By the way , there're  two options for adding a API key both Admin panel and App panel itself, isn't it confusing for user ?

[2017-07-03 08:58] henrikp commented on #40
In my opinion, when the app is opened, it should default to settings when no key is present and forbid any city adding at all at that moment.

[2017-07-03 09:01] nerzhul commented on #40
Sorry for being long to change this feature... i was very busy on many projects. Don't hesitate to propose a PR to define settings in admin part

[2017-07-03 20:31] nerzhul commented on #40
Fixed by 2a693ed1611f5203a27ef71d828b2245e774dab6

[2017-07-03 20:31] #40 closed

[2017-07-03 20:31] nerzhul commented on #38
Fixed by 2a693ed1611f5203a27ef71d828b2245e774dab6 (for API key error)

[2017-07-03 20:31] #38 closed

[2017-07-03 20:31] nerzhul commented on #35
Working on it

[2017-07-03 20:54] hofmannmartin commented on #35
As this might be related I post it here: There is no field to provide the api key in my personal settings.

### Server configuration

#### Operating system:
Debian 9.0
#### Web server:
Apache 2.4.25
#### Database:
MariaDB 10.1
#### PHP version:
7.0
#### Nextcloud version: (see Nextcloud admin page)
12.0.0

[2017-07-03 21:02] nerzhul commented on #35
master is not stable, if you are trying to use it.

[2017-07-03 21:02] nerzhul commented on #24
In progress

[2017-07-03 21:34] hofmannmartin commented on #35
I am using the version 1.4.2

[2017-07-03 21:43] nerzhul commented on #24
Done in tag 1.5.0

[2017-07-03 21:43] #24 closed

[2017-07-03 21:43] nerzhul commented on #35
Solved in 1.5.0

[2017-07-03 21:43] #35 closed

[2017-07-03 21:45] nerzhul commented on #25
timeout

[2017-07-03 21:45] #25 closed

[2017-07-04 05:10] AquaL1te opened #41 "After upgrading to 1.5.0: Can't add API key anymore"
### Steps to reproduce
1. Upgrade from the app list menu

### Expected behaviour
A working app with the same working API key, but the settings menu doesn't allow me to set an API key and the app complains that there is non set.

### Actual behaviour
Can't get any weather anymore due to missing API key and the settings menu doesn't pop-up, so can't set the key anymore.

### Server configuration

**

[2017-07-04 05:14] AquaL1te commented on #41
Removing the config with occ doesn't help. Reinstalling the app doesn't work.

[2017-07-04 05:36] nerzhul commented on #41
hello,
you don't see the api key menu in additional section of admin settings ?

[2017-07-04 05:49] AquaL1te commented on #41
That did the trick. Thanks.

[2017-07-04 05:49] #41 closed

[2017-07-04 07:18] nerzhul commented on #41
yeah i changed the behaviour to be more friendly for a shared instance :)

[2017-07-04 10:38] e-alfred commented on #41
I still had to disable and reenable the app to see the API key setting in the admin page after upgrading to 1.5.0.

[2017-07-04 10:58] nerzhul commented on #41
yeah it's a very strange behaviour but it's due to nextcloud admin caching it seems

[2017-07-09 09:03] e-alfred opened #42 "Weather app does not show background for "Cloudiness: light intensity drizzle" or "Cloudiness: light intensity drizzle""
### Steps to reproduce
1. Open city/town where "Cloudiness: light intensity drizzle" or "Cloudiness: light intensity drizzle" is

### Expected behaviour
A corresponding background image should be shown

### Actual behaviour
No picture is shown, only a black background.

### Server configuration
**Nextcloud version:** (see Nextcloud admin page) 12.0.0.29

### Client configuration
**Browser:** Chrom

[2017-07-11 10:26] dm-m opened #43 "Error message: "Your OpenWeatherMap API key is invalid...""
### Steps to reproduce
1. Access the app
2. See the error message

### Expected behaviour
Weather details should have been shown without any issues since it was working before for some period of time.

### Actual behaviour
A red error message about invalid API key was shown and there was no place to insert an API key in the Settings (screenshots attached).
![error1](https://user-images.githubuserc

[2017-07-12 14:45] Synochy commented on #43
Just disable and enable the app in application settings
Then in administration, in more application settings, you can enter your Key Again and the App will work.

[2017-07-12 23:45] dm-m commented on #43
Thanks, that did it.
It would be great if you ship some message about the changes in the app and what should be done to reenable it.

[2017-07-12 23:45] #43 closed

[2017-08-11 14:13] tux-nerd commented on #7
I like the weather app very well and i miss the translation (in my case german language) so much. Are there some news or possibilities to help you translating the shown weather data in different languages?

[2017-08-17 09:47] Truffelhunter commented on #7
As a workaround I did this:

1.) Change the strings in:
../weather/templates/main.php
for example: Perssure -> Luftdruck, Add a City... -> Einen Ort hinzufügen, Hour -> Uhrzeit ...

2.) Since adding cities doesn't work when attaching for example lang=de to the api key, edit following instead:

../weather/lib/Controller/WeatherController.php

squeeze in &lang=de before &q="
        private static $

[2017-08-17 10:56] nerzhul commented on #42
Fixed by 47d8080f4b74a751e42cef70baa843779d128d9d

[2017-08-17 10:56] #42 closed

[2017-08-17 13:44] nerzhul commented on #7
i started working on it with nextcloud developers, first on static IHM and when it will work work on dynamic data

[2017-08-17 13:46] nerzhul commented on #27
sorry but i'm not interested in that support if maps doesn't support PostgreSQL.

[2017-08-17 13:48] nerzhul commented on #11
sorry it's a long time issue, i should look at it soon

[2017-08-17 14:15] v1r0x commented on #27
There is alrady an issue in maps https://github.com/nextcloud/maps/issues/19
I can hopefully make some progress in the maps rework next week and happy to support psql as well.

[2017-08-17 14:32] nerzhul commented on #27
heh take your time, i don't know what can i do with maps here, except if you want to use the weather endpoint to show weather on some places :p

[2017-08-17 14:39] e-alfred commented on #27
Well, it would be awesome to have the towns from the weather app shown in a map for example. That way it is easy to predict the weather while on travel, for example.

[2017-08-17 15:03] nerzhul commented on #7
translation is now prepared on transifex, templates was successfuly translated to french, i only need to know how to fix CSS according to content size...

[2017-08-17 15:18] nerzhul commented on #27
@e-alfred then no problem to enhance the API calls on weather app to permit detection of the application and the version. Current weather API calls should be sufficient to fetch weather data

[2017-08-17 16:32] nerzhul commented on #7
Fixed, it's time for translators to work :p

[2017-08-17 16:32] #7 closed

[2017-08-18 07:32] Truffelhunter commented on #7
I can do german.
Which file?

[2017-08-18 07:42] Truffelhunter commented on #7
Great! Works - thanks very much! :-)

[2017-08-20 20:28] tux-nerd commented on #7
... yes, for me too. Thank you very much!

Now, nearly all is done. But what about the wind directions? It's still
in english (just like North-East, North, ....)!

Can you tell me, how to fix that?

[2017-08-21 16:32] jancborchardt opened #44 "Integration with the Calendar app"
It would be pretty cool if the Weather app would integrate with the Calendar app. That is, in the month or week view show a little icon in the top next to the number of the day of how the weather will be that day. That way you can see a small forecast, directly integrated in your Calendar.

cc @georgehrke @tcitworld @raghunayyar of the Calendar app :)

[2017-08-31 13:09] e-alfred opened #45 "Display more forecast data depending on display size"
Hello,

it would be great to have more forecast data displayed depending on display size. On bigger screens, a lot of empty space at the bottom is shown which could be used for additional data (5 days forecast is possible with a free API key).

[2017-09-18 08:48] C0rn3j commented on #41
@nerzhul

Could this be made more clearer? As someone who isn't used to Nextcloud's app config I had to dig out this issue to figure out it was in the *additional settings* section.

Current error message is as follows.

---

administration settings

---

I'd perhaps change it to something more explanatory like this

---

---

[2017-09-18 17:53] nerzhul commented on #41
@C0rn3j feel free to publish a PR :)

[2017-09-25 09:06] C0rn3j opened #47 "add a Dashboard - Display more places at once"
I'd welcome a dashboard tab that I'd be brought to by default if I have 2 or more places configured.

Having to click through every entry and remember the details between them if I want to make a comparison is annoying

[2017-09-25 09:12] C0rn3j opened #48 "Display forecast for the next X days"
This app would be infinitely more useful to me if I could see a forecast for anywhere from tomorrow to 6 days from now on~ as opposed to the current 24h~ forecast window.

[2017-09-25 21:29] nerzhul commented on #47
i don't get time for a such thing, but you are free to contribute and show us :)

[2017-11-06 12:11] e-alfred commented on #48
I think this is related to this issue: https://github.com/nextcloud/weather/issues/45

[2017-11-06 12:20] e-alfred opened #50 "Some cities don't show weather related background imagein the Weather app"
### Steps to reproduce
1. Open Weather app and click on a city.

### Expected behaviour
A background image that fits the weather should be shown.

### Actual behaviour
A black background shows up.

### Server configuration

**Operating system**: Ubuntu 16.04

**Web server:** Apache 2.4

**Database:** Mysql 5.7

**PHP version:** 7.0

**Nextcloud version:**  12.0.3

**Updated from an older Nextcloud

[2017-11-10 08:03] nerzhul commented on #50
hello, thanks for your report.
the JS problem seems to be unrelated, and should be fixed. Do you mean background is black because "overcast clouds" is not handled ?

[2017-11-10 08:04] nerzhul commented on #48
duplicates #45

[2017-11-10 08:04] #48 closed

[2017-11-10 08:04] nerzhul commented on #45
if you have some PHP/JS skills don't hesitate to provide a patch, i'm a little bit busy these days

[2017-11-13 13:10] e-alfred commented on #50
Yes, the background is black for "overcast clouds". I later saw the JS bug come up most of the time, so it is probably unrelated.

[2018-01-09 20:11] dps27049 commented on #35
I have the same issue. Using 1.5.1. Still says key is invalid.

[2018-03-01 21:16] PatriceLorant opened #54 "Give me an example of openweathermap API Key ? What file may be configure in nextcloud ?"
Hi,
I don't know where I must be writing the API Key and what is the file, must be modify.
What is the name of API Key in the file ?
What is the file ?
Give me an example and the name of the file.
Thanks
Best regards.

[2018-03-01 21:35] nerzhul commented on #54
Hello
it's a setting in the left pane of the app

[2018-03-01 21:54] PatriceLorant commented on #54
Hi,

I have an error when i wrote a city

Le 01/03/2018 à 22:35, Loïc Blot a écrit :

[2018-03-02 09:50] nerzhul commented on #54
I will add a better notice in readme.md, but see the following screenshot in the admin area, enter your API key here

![capture d ecran de 2018-03-02 10-49-32](https://user-images.githubusercontent.com/119752/36893224-81459756-1e07-11e8-83e9-f5d393759e0f.png)

[2018-03-02 10:11] PatriceLorant commented on #54
Thanks nerzhul.
Now, It's very well.
But, if I want an API key for each uesrs of Nextcloud, I can't do that.

[2018-03-02 10:18] nerzhul commented on #54
@PatriceLorant it was the previous behaviour, and due to the quota limitation of OWM it's unnecessary on nextcloud instances, as the quota will not be reached, except if you have thousands of users

[2018-03-02 10:25] nerzhul commented on #54
issue solved

[2018-03-02 10:25] #54 closed

[2018-03-14 08:23] MorrisJobke opened #56 "Nextcloud 14 - drop of deprecated APIs"
Hi just want to inform you that with 14 we will drop for example `linkTo*` methods of `OCP\Util` nextcloud/server#8811

See the PHPDoc in that class for how to handle this now.

Please also have a look at nextcloud/server#7827 for other dropped methods or use the app:code-check to highlight deprecated methods in the current code.

[2018-03-14 21:00] nerzhul commented on #56
No used here

[2018-03-14 21:01] MorrisJobke commented on #56
It is used in here - otherwise I would not have opened it ;)

For example here:

https://github.com/nextcloud/weather/blob/master/appinfo/app.php#L24

[2018-03-14 21:05] nerzhul commented on #56
seems the github searx sucks :) i should have used grep instead :p

[2018-03-14 21:55] MorrisJobke commented on #56
😅

[2018-03-26 13:36] rullzer opened #58 "Nextcloud 14 will drop OCP\DB support"
Hi, OCP\DB is deprecated since version 8.1 and will run into the 3 year deprecation time soon. With the upcoming Nextcloud 14 this will not be available anymore. We highly encourage you to move over from to the \OCP\IDBConnection. Preferably even to the IQueryBuilder. If you need help with the migration please reach out to us.

The removal PR: nextcloud/server#8985

[2018-03-27 10:00] MorrisJobke commented on #58
Also ref https://github.com/nextcloud/server/issues/7827

[2018-04-07 21:43] BloodyIron commented on #2
I'd like it if we could sort other ways too. Alphabetically? Drag them to change order?

This does need sorting! Please?

[2018-04-17 11:17] AquaL1te opened #59 "Download link of the app is down in the Nextcloud app store"
[This link](https://apps.nextcloud.com/apps/weather/releases?platform=13#13) in the [Nextcloud app store](https://apps.nextcloud.com/apps/weather/releases?platform=13#13) is down, already for a few days.

[2018-04-17 20:06] nerzhul commented on #59
Hello, yes i'm sorry my dedicated crashed and it's in recovery, but it's not easy (motherboard crash)

[2018-04-23 06:06] AquaL1te commented on #59
@nerzhul, no worries! I've noticed the website is up again, could you, when you're done with recovering everything, upload the Weather 1.5.1 version again? The latest version available at the moment is the older 1.5.0 release. Thanks!!

[2018-04-23 15:25] nerzhul commented on #59
@AquaL1te yes i will do it asap, but i need to restore non nextcloud related data before, and its not easy :)

[2018-05-14 00:48] BloodyIron commented on #59
You know, you could just copy the 1.5.1 release tar.gz file into the same folder as 1.5.0 and be done with it. It's been 20 days, and while I was able to get the equivalent file from the github release section here, it would take you maybe a couple minutes to solve this. Could you please find the time in the near future? :)

That being said, thanks for your hard work! :D

[2018-05-14 10:02] nerzhul commented on #59
Yes sorry i'm late, it should be back before sunday if i get some time, but i didn't finished to restore all my services

[2018-06-01 22:42] Blackraz0r commented on #59
any news here ? ^^

[2018-06-02 07:29] CHazz opened #60 "translation of clouds and wind"
hi is possible make full translation ? (clear sky, broken clouds etc.) I would like to translate, I just do not know how thanks :)

[2018-06-02 07:37] nerzhul commented on #59
oh i updated other apps but forget this app, sorry :) will do it soon

[2018-06-02 10:33] nerzhul commented on #59
version 1.5.3 has been published & released on github

[2018-06-02 15:02] BloodyIron commented on #59
I don't see 1.5.3 on the app store, just 1.5.1

[2018-06-02 16:14] nerzhul commented on #59
exact, wtf

[2018-08-06 07:33] ChristophWurst opened #61 "Compatibility with Nextcloud 14"
Hi,

as you may have already seen, we have entered the beta phase for the release of Nextcloud 14. We usually try to keep up compatibility with previous app versions, but in some cases apps need some adjustments to properly work on new Nextcloud releases. With Nextcloud 14 there have been quite some changes in that regard:

You can find a list of all critical changes for app developers and admins

[2018-09-20 14:52] knxwille opened #62 "Openweathermap API key is invalid!"
Weather app tells me Openweathermap API key is invalid! during city selection.

[2018-09-20 18:19] knxwille commented on #62
I found it. User must get an api key from openweathermap.org and enter this key to nextcloud/settings/additional setting/ bottom of page !
Case closed !

[2018-09-20 18:19] #62 closed

[2018-10-01 10:30] e-alfred commented on #61
So the app is fixed up now, can you make a new release on apps.nextcloud.com @nerzhul?

[2018-10-01 10:43] nerzhul commented on #61
I'm testing it today and try to take time to package it

[2018-10-01 12:33] nerzhul commented on #61
App compatibility is now okay, thanks to @e-alfred for the fixes. Closing this ticket. App has been tagged and will be published on appstore asap

[2018-10-01 12:33] #61 closed

[2018-10-01 12:34] nerzhul commented on #58
Solved

[2018-10-01 12:34] #58 closed

[2018-10-01 12:50] nerzhul commented on #59
1.5.4 has been released with NC 14 support

[2018-10-01 12:50] #59 closed

[2018-10-03 17:47] vores8 opened #66 "CAnnot add city"
Sorry, app is not working
### Steps to reproduce
1. Install Nextcloud 14
2. Install and configure Weather 1.5.4
3. Add city "moscow, ru"

### Expected behaviour
city added to the app

### Actual behaviour
Error message displayed just above city input box
"Fatal Error: please check your owncloud.log and send a bug report here: https://github.com/nextcloud/weather/issues"

# Integrity
https://redshi

[2018-10-04 08:58] nerzhul commented on #66
hmm strange, i tested it on a fresh installation with some french countries and it just works. It seem appframework has problem on your nstallation

[2018-10-04 09:08] vores8 commented on #66
Any specific advices on how to fix this?

[2018-10-04 09:10] nerzhul commented on #66
currently not. Can you try to add "Orsay, FR" and tell me if it works ?

[2018-10-04 09:14] vores8 commented on #66
Same error
![image](https://user-images.githubusercontent.com/5611013/46464423-fc9ae480-c7ce-11e8-9a09-e2c5e784024f.png)

[2018-10-04 09:15] nerzhul commented on #66
hmmm is openweathermap.org api available from your server ?

[2018-10-04 09:29] nerzhul commented on #66
Thanks, maybe we need to handle the API connection error more properly

[2018-10-27 14:19] thatkraftkid opened #67 "Cities with the same names"
### Steps to reproduce
1. Open Weather
2. Try to add a city that shares a name with a larger city somewhere else
3. Get weather report for the wrong city

### Expected behaviour
I should get the weather for my city, in my state (which I specify when I add the city).

### Actual behaviour
I get the weather for the larger city in a different state when I enter either my city's name.  I've tried it w

[2018-11-05 08:58] nerzhul commented on #67
Hello
this is not a bug, you can type Paris,FR instead of Paris to fix the state problem, all cities are cities in OpenWeatherMap database, not us :)

[2018-11-05 08:58] #67 closed

[2018-11-05 10:38] thatkraftkid commented on #67
If I type Chelmsford, Massachusetts, shows me Chelmsford, GB. If I type Ayer, Massachusetts, it gives me Ayer, UG. It's not a matter of whether they're considered cities or not, it's not giving me the option to choose which city I want, it just gives me whatever the top one with that name is in their database.

On the Openweathermap website, even if I type Chelmsford, Massachusetts, it put Chelmsf

[2018-11-05 10:40] nerzhul commented on #67
Type ChelmsFord, US
That should do the trick, unfortunately we are limited by the OWM API

[2018-11-05 10:58] thatkraftkid commented on #67
My actual town shares a name with a larger one across the country in Colorado, so typing US doesn't fix it, since they're both in the US. Typing Massachusetts, for whatever reason, still brings up the Colorado town. I only figured this out because they have been having much warmer and drier weather than Massachusetts recently, so I knew the temperature I was getting was off. (And it was raining, a

[2018-11-05 11:01] nerzhul commented on #67
thanks, if they have a code implementation solution tell us :)

[2018-11-22 07:24] cooboyno111 opened #68 "nextcloud14 can't run openwrt v18.06.1"
### Steps to reproduce
1.make openwrt v18.06.1 with php7.2 all depends package and nginx,sqlite3db
2. put  setup_nextcloud.php and nc.zip to /www
3. do setup_nextcloud.php an install nextcloud14
4. do first nextcloud14 install page

### Expected behaviour
Tell us what should happen
 install page ，choose db,username
### Actual behaviour
Tell us what happens instead
内部服务器错误
### Server configuration

[2018-12-18 13:09] elpraga opened #69 "Do you plan to add compatibility with Nextcloud 15?"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Updated from an older Nextcloud/ownCloud or fresh install:**

**Where did you install Nextcloud from:**

**Signin

[2018-12-18 14:54] nerzhul commented on #69
oh yeah, i just need to upgrade the max version. I can do this this evening.

[2018-12-19 12:52] e-alfred commented on #69
The app works well with Nextcloud 15 (only thing I saw is the temperature selection menu opens downwards instead of upwards since Nextcloud 14 but it doesn't impact normal use at all).

[2018-12-19 12:55] nerzhul commented on #69
@e-alfred thanks. i forgot to publish the app last evening. Publishing the compat upgrade in master now, i will release asap

[2018-12-28 12:05] e-alfred commented on #69
@nerzhul Any news on a new release? It would be awesome. :thumbsup:

[2019-01-11 02:58] BloodyIron commented on #69
So, when can we get the latest version of this in the app store? Still says needs nc14.

[2019-01-11 09:16] nerzhul commented on #69
Solved, sorry for the delay

[2019-01-11 09:16] #69 closed

[2019-01-11 09:18] #68 closed

[2019-01-11 09:18] nerzhul commented on #68
Not a weather app issue

[2019-01-11 15:22] BloodyIron commented on #69
@nerzhul thanks! :D

[2019-02-07 21:36] maxolasersquad commented on #50
I am seeing the same thing.

![image](https://user-images.githubusercontent.com/177150/52444507-931d4080-2af6-11e9-94bd-c31808e54e72.png)

[2019-02-07 21:43] maxolasersquad commented on #60
It looks like all you need to do is update the relevant file in https://github.com/nextcloud/weather/tree/master/l10n For example, see https://github.com/nextcloud/weather/blob/master/l10n/de.json for the German translation.

[2019-02-12 11:00] CHazz commented on #60
of course ... but missing half of words (api outputs) "light snow" etc .. translate is not possible

[2019-04-12 12:23] nerzhul opened #70 "New maintainership needed"
As many see this app is not very maintained these days. I don't have time to polish it and invent new features for it.

@nextcloud/vue if some are interested about maintaining this vue.js application tell me, i can give you the keys :)

I think it can be polished and part of core applications at a point

[2019-04-12 12:48] jancborchardt commented on #70
@nerzhul thanks a lot for all your work through the years! :)

@georgehrke maybe weather info is something which should be part of the Calendar directly, as it is in Google Calendar and GNOME? Then the interface would be minimal and integration is great. :)

[2019-04-12 16:22] georgehrke commented on #70
You can actually already add weather information to your calendar via webcal. http://www.webcal.fi/en-US/manual_subscription.php#popular 😉

Generally, this is not something i would like to the in the codebase of the calendar app itself. But once we have https://github.com/nextcloud/calendar/issues/812, other apps should be able to hook into the calendar grid rendering process and add weather infor

[2019-04-19 10:04] nerzhul commented on #70
is there any candidate to own the repository in the nextcloud team ? or in big contributors ?

[2019-04-19 11:55] jancborchardt commented on #70
@jospoortvliet @shironextcloud could we put out some blog and/or social media posts about looking for a new maintainer? @nerzhul maybe you could write something up as a hand-off and make sure the repo is accessible to a possible new person to take over? :) E.g. having a short "Development setup" section like other apps such as [the Social app](https://github.com/nextcloud/social#development-setup)

[2019-04-25 09:15] j-ed commented on #60
I think the request is more or less related to the weather data set which is being provided by the OpenWeather API. Based on their [FAQ](https://openweathermap.org/current#multi) translations are currently only provided for the description field but not the cloudiness and wind field. If they couldn't provide a list of key words/phrases it would be difficult to translate them.
I did a short check a

[2019-04-25 15:20] j-ed commented on #60
A user has provided a small hack in the help forum to get the strings translated. I think this is not the right way to implement it at the end but it may give a hint what modification is required to get the strings translated. See https://help.nextcloud.com/t/nc-15-0-7-weather-app/52165/8 for the details.

[2019-04-30 12:37] e-alfred commented on #70
It would be sad to see this app go away. There are no deprecated APIs used (at least as soon as this PR is accepted: https://github.com/nextcloud/weather/pull/71) and it works still pretty well. Can you at least make a new release for Nextcloud 16?

[2019-04-30 13:28] nerzhul commented on #70
@e-alfred i can try. I merged #71 thanks. Are you interested to take the ownership ?

[2019-05-05 09:40] e-alfred commented on #70
That would be my 4th Nextcloud app I maintain then. :wink:

But surely, I could help you out with this app.

[2019-05-05 14:13] e-alfred commented on #60
I created two pull requests (https://github.com/nextcloud/weather/pull/73 and https://github.com/nextcloud/weather/pull/72) that solve the translation problem completely.

@nerzhul Can you merge this and create a release for Nextcloud 16?

[2019-05-05 16:40] nerzhul commented on #60
@e-alfred merged one, will review the other later

[2019-05-06 07:28] e-alfred commented on #45
I would add a date/day field and increase the number of forecasts to the full 5 days. What do you think about that?

[2019-05-10 18:21] nerzhul commented on #45
I think it's possible if OWM API permits it

[2019-05-15 12:03] e-alfred commented on #70
@nerzhul Anything new about https://github.com/nextcloud/weather and https://github.com/nextcloud/ocsms? Both apps work well on Nextcloud 16 and my offer to help out still stands.

[2019-05-18 09:13] e-alfred commented on #45
Okay, this is fixed by https://github.com/nextcloud/weather/pull/73.

[2019-05-19 08:31] nerzhul commented on #70
@e-alfred i invited you in the devel team of this app

[2019-05-21 07:54] e-alfred commented on #60
This is now fully implemented so this issue can be closed. @nerzhul I would like to make a new release as soon as more translations from Transiflex come in.

![image](https://user-images.githubusercontent.com/10073629/58078170-61644d00-7bae-11e9-8597-07aaf66560bb.png)

[2019-05-21 07:54] #60 closed

[2019-05-21 07:55] #45 closed

[2019-05-21 18:05] nerzhul commented on #60
@e-alfred i will try to perform them asap. Can you provide PR for nextcloud v16 compat in the appinfo.xml please ?

[2019-05-23 08:42] e-alfred commented on #60
@nerzhul I updated AngularJS to the latest version and bumped the max-version in the info.xml file in this commit: https://github.com/nextcloud/weather/commit/e60c7bccb26ae959feedc63c0c4ddb10a699242d

Please publish a new release to the app store soon.

[2019-05-29 09:57] e-alfred commented on #70
@nerzhul I added some nice features (I think at least that they are :smile:) and I think it is ready now for a new release. Can you publish it to the app store?

[2019-06-03 18:07] nerzhul commented on #70
version 1.6.0 has been released. Thanks for your work @e-alfred .

[2019-06-03 18:09] nerzhul commented on #70
As a side note @e-alfred when you want to release application, you can run locally ./.ci/release_app.sh 1.6.0
This will do what it's needed to minify etc and push the tag and to master :)
After that you go to github releases page you draft a release on the tag and you push the tar ball generated by the script in /tmp

[2019-06-03 18:09] #70 closed

[2019-06-09 18:16] e-alfred commented on #70
@nerzhul Thanks for the information, but how does the release get onto the Nextcloud App Store?

[2019-06-19 20:13] mlichtronix opened #74 "Too few parameters"
[index] Error: ArgumentCountError: Too few arguments to function OCA\Weather\Controller\WeatherController::__construct(), 6 passed in /var/snap/nextcloud/13823/nextcloud/extra-apps/weather/lib/AppInfo/Application.php on line 86 and exactly 7 expected at <<closure>>

 0. /var/snap/nextcloud/13823/nextcloud/extra-apps/weather/lib/AppInfo/Application.php line 86
    OCA\Weather\Controller\WeatherCont

[2019-06-20 08:48] e-alfred commented on #74
This seems like a problem with the app not getting updated correctly or something getting cached on your server. Can you try to clear all caches on the server side (usually a restart of the services should help) to see if it resolves the problem?

[2019-06-20 11:38] mlichtronix commented on #74
Yes, restart of services helped.Thanx.

[2019-06-20 11:38] #74 closed

[2019-06-28 17:34] slayt12 opened #75 "Change units from C to F"
#15 # Steps to reproduce
1. install weather app from nextcloud app store
2. add a city to the list
3. no option to change units

### Expected behaviour
Should be able to change units of weather

### Actual behaviour
all units are defaulted to kelvin and celcius

### Server configuration

**Operating system**:
ubuntu 18.04
**Web server:**
apache2
**Database:**
mariaDB
**PHP version:**
7.0.33-0
**Ne

[2019-06-28 17:37] slayt12 commented on #75
I did finally find the settings button, i had to scroll to the bottom below where the weather data was. It would be beneficial to have the button scroll with the bottom of the window, instead of the page.

[2019-07-09 12:04] nerzhul commented on #70
good question, you login using github, and you should see if you can push a release with the signed package

[2019-07-14 18:17] andriusign commented on #35
When is this gonna be fixed? Still not working. C'mon guys, what's the problem?

[2019-10-04 14:35] schniepp opened #77 "NC 17 compatibility"
Please release for NC 17!

[2019-10-14 12:08] e-alfred commented on #77
I fixed the app and made a release here, @nerzhul only has to publish it on the App Store:

https://github.com/nextcloud/weather/releases/tag/1.6.2

@nerzhul Please punish our new releases for OCSMS and this app to the App Store.

[2019-11-04 06:44] nerzhul commented on #77
release done

[2019-11-04 06:44] #77 closed

[2019-11-04 14:30] UnConundrum opened #78 "Weather App won't set city"
### Steps to reproduce
1. Add weather app
2. add valid api key
3. add a city

### Expected behaviour
Tell us what should happen
Weather for that city should appear
### Actual behaviour
Tell us what happens instead
"Fatal Error:  please check your nextcloud.log and send a bug report
### Server configuration
Running in ProxMox, 4 CPUs, 8G memory
**Operating system**:
Ubuntu 18.04/ProxMox
**Web serve

[2019-11-05 04:16] GideonWolfe commented on #78
Can confirm this is affecting me as well

[2019-11-06 10:23] spiezmaestro commented on #78
Am experiencing this also. Am an NC 17.0.0.9 with Weather App version 1.6.2.

[2019-11-06 14:34] watson387 commented on #78
Same:

Operating system: Linux 5.3.0-19-generic #20-Ubuntu SMP Fri Oct 18 09:04:39 UTC 2019 x86_64

Webserver: nginx/1.16.1 (fpm-fcgi)

Database: pgsql PostgreSQL 12.0 on x86_64-pc-linux-musl, compiled by gcc (Alpine 8.3.0) 8.3.0, 64-bit

PHP version: 7.3.11

Modules loaded: Core, date, libxml, pcre, zlib, filter, hash, readline, Reflection, SPL, session, cgi-fcgi, bz2, ctype, curl, dom, fileinfo,

[2019-11-08 16:42] e-alfred commented on #78
This is fixed by https://github.com/nextcloud/weather/commit/dbdc625ddbbeee023731866c6cd8f59f760117ba. I am not quite sure why @nerzhul added this in but it causes a permanent error 502 if any city/town would be added to the app.

@nerzhul Please publish the fixed releases of OCSMS and the Weather app as soon as possible.

[2019-11-08 18:27] nerzhul commented on #78
the condition was inverted in fact, i don't know why but it's inverted !

[2019-11-08 18:32] #78 closed

[2019-11-08 18:33] nerzhul opened #79 "Release too big"
### Steps to reproduce
Impossible to publish the app on the nextcloud app store

[code]

We should reduce release size (33MB at this moment)

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Upda

[2019-11-08 18:33] nerzhul commented on #79
I'm trying to reduce at first using optipng on images

[2019-11-08 19:09] nerzhul commented on #79
not sufficient

[2019-11-09 09:31] e-alfred commented on #78
@nerzhul It is strange because there is another if clause that returns the right response code, so there is no real reason for an explicit 502 response anyway.

[2019-11-09 10:04] e-alfred commented on #79
I published a new release with a reduced size, the size is now 17MB.

[2019-11-09 12:25] nerzhul commented on #79
Fixed & released

[2019-11-09 12:25] #79 closed

[2019-11-22 08:59] e-alfred opened #80 "Migrate away from AngularJS"
AngularJS is in LTS mode currently and will be deprecated in 2021 after a 3 year period. We should move away from AngularJS to Vue probably at some point in the future.

[2019-11-22 12:38] nerzhul commented on #80
@e-alfred i approve totally with you. the move has been done on ocsms if i remember but not on this. It's not difficult to move away from angular as the templating may be the same. Also the new code may be proper than before :)

[2019-11-23 17:10] dl6dbh opened #81 "weather api"
hallo
I have nextcloud 17.0.1 and weather installed. where do I have to enter the api of openweather in the admin menu? I cant find no menu item.

[2019-11-23 19:58] e-alfred commented on #81
Go to your Nextcloud admin settings and to "additional settings", there you should find the fiel to enter the API key:

![image](https://user-images.githubusercontent.com/10073629/69484484-026ce280-0e34-11ea-95df-732a277823b3.png)

[2019-11-23 19:58] #81 closed

[2019-11-24 14:09] dl6dbh commented on #81
hallo
my problem is i cant find the point additional settings in the admin site

[2019-11-24 14:21] dl6dbh commented on #81
i find ... its working

[2019-12-01 01:15] berdosi commented on #80
Started to fool around with this issue, but there's still a lot of work to do there:
https://github.com/berdosi/weather/tree/migrate-to-vue

There are still bugs, missing features, and lots of old code abused and patched up for reuse. It more of a demo, than a meaningful contribution at the moment.

[2019-12-11 22:44] berdosi commented on #75
Setting the below CSS seems to make it more consistent with other Nextcloud apps' behavior; even though their solution is slightly different.
I should test it in Internet Explorer in the coming days.

[code]

[2019-12-12 14:45] e-alfred commented on #75
@berdosi I tested your fix and it works well on all browsers. The menu is now shown permanently on the lower left side and opens upwards as it should. Maybe you can make a PR so it can be merged?

[2019-12-12 19:02] berdosi commented on #75
Sure thing, I didn't want to PR before it's tested.

[2019-12-13 12:09] #75 closed

[2019-12-13 12:12] e-alfred commented on #11
As this issue is quite old now I am not sure if still applies nowadays. Therefore I would like to close this issue. Please report if it still happens and I will reopen it.

[2019-12-13 12:12] #11 closed

[2019-12-13 12:16] e-alfred commented on #23
I think this issue is fixed now for some time already. Please reopen if there is still some problem with the icons.

[2019-12-13 12:16] #23 closed

[2019-12-13 12:20] e-alfred commented on #50
I added more backgrounds in the latest releases, but some weather conditions might still not be covered. If you have some good pictures displaying weather conditions under a free license, please add them to the app with a PR.

[2019-12-13 12:56] e-alfred commented on #80
@berdosi Nice work for a start. It isn't quite urgent as there is still support for AngularJS until 2021, but it would be good to do it until then anyway. Maybe you can make a draft PR and work from there onwards? We could merge it the if it becomes stable sometime in the future.

[2019-12-18 14:45] nerzhul commented on #80
hello @berdosi i looked at your MR seems promising but not very readable JS code unfortunately due to the one big file :(

[2019-12-22 00:06] berdosi commented on #80
Hello, @nerzhul, I'll make efforts to structure it better for the to-be-merged version; it should be relatively easy to split the code to components (ocsms is a good point of reference :)).

I still have some warnings to clean up before starting to refactor, though.

[2019-12-23 00:55] berdosi commented on #80
I split it up to Settings / CityList / Forecast, and the components communicate with each other through a shared store. I don't consider it to be very idiomatic, but at least the file is split up.
(While app.js is still in place for my reference, it isn't linked to through main.php)

Apart from [migrate-to-vue](https://github.com/berdosi/weather/tree/migrate-to-vue), I've started playing with  [mi

[2019-12-24 21:18] berdosi commented on #34
Adding some media queries, may help here - the below CSS moves the city list to the bottom, hides the last columns of the forecast table, and pushes the forecast panels around a bit. I like the way it looks.

[code]
![Screen Shot 2019-12-24 at 22 12 32](https://user-images.githubusercontent.com/134611/71425266-b9aa8280-269a-11ea-904a-53a4bf3aeddd.png)

[2019-12-25 00:07] e-alfred commented on #34
@berdosi It looks nice on your screenshot, but I cannot get it to open the weather forecast using your code block:

![image](https://user-images.githubusercontent.com/10073629/71426990-d5218780-26b2-11ea-8f53-158b93b7d3e9.png)

[2019-12-25 00:20] berdosi commented on #34
My bad, I was testing it on the wrong branch with different element IDs.
Replacing `#app-container` with `#app` in the second line solves the issue.

[2020-01-02 02:11] e-alfred commented on #34
@berdosi I like the view, but the city selection is taking up too much space (should be scrollable too) especially on small devices and/or if there is a long list of towns:

![image](https://user-images.githubusercontent.com/10073629/71649191-f0bd0b80-2d0c-11ea-9f34-5fb5feab609a.png)

Also, the Tablet view is not ideal at the moment:

![image](https://user-images.githubusercontent.com/10073629/716

[2020-01-13 17:48] jimbolaya opened #84 "Non metric units?"
I was hoping to see more non-metric units available than just temperature.

Should I see an option under settings besides Metric with the temperature choice?

This should probably be labelled as an Enhancement.

[2020-01-13 20:03] e-alfred commented on #84
This is a duplicate of https://github.com/nextcloud/weather/issues/75. Currently you have to scroll down to the end of the page to see the unit selection. This wil be fixed with the next release.

[2020-01-14 13:15] jimbolaya commented on #84
I'm sorry, I don't feel like this should be closed. #75 doesn't really address my issue.

If temperature is the only unit to change, that's fine. I'm able to change it. However, the Pressure and Wind Speed units don't change and are still in metric.

If you're not going to change them, that's fine, but please state that. If I should be able to change them, I cannot see any option to change units o

[2020-01-17 20:40] e-alfred commented on #84
Yes, this would be a nice feature indeed. Which units do you think would be most useful?

[2020-01-17 20:43] e-alfred opened #85 "Add option to use browser geolocation feature to locate city"
It would be great to have the ability to use the geolocation feature of the browser to find the current city somebody is located in. This would ease searching and adding cities and make it more convenient for users who travel a lot for example. It is also something that could improve https://github.com/nextcloud/weather/pull/83.

[2020-01-18 14:57] butrus opened #86 "The Weather App says "Fatal error" after trying to add a City"
### Steps to reproduce
1. Start the App
2. Click "Add a city"
3. Write the name of the city into the box
4. Nothing happens
5. Click on "Add"
6. It says: "Fatal error: Please check nextcloud.log and send a bug..." (etc)
7. Nothing appears to be written to the log (loglevel 0, it works for other Apps)

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens inst

[2020-01-19 12:52] jimbolaya commented on #84
Well, being in the US, the units I see the most for air pressure are inches of mercury and wind speed would be miles per hour.

One weather app on my phone lists quite a few, but perhaps for wind speed one other that might be most useful would be knots.

Sorry about the initial lack of specificity in my original post.

[2020-01-19 14:36] e-alfred commented on #84
Wind speed already changes to miles per second (it has the same abbreviation as meters per second `m/s`so only the values change), it just not indicated well in the drop down menu in the settings section.

Air pressure could be changed, I will take a look into it

[2020-01-19 14:49] e-alfred commented on #86
Do you see any error in the browser console?

[2020-01-22 09:30] Ludovicis opened #87 "NC 18 compatibility"
Please release for NC 18

[2020-01-22 13:19] e-alfred commented on #87
@nerzhul I already made a release over the weekend, please publish the Weather and OCSMS apps to the app store.

[2020-01-23 16:19] jimbolaya commented on #84
Great! Thank you.

As a note on wind speed, I'm not aware of anyone in the US, where I am, who uses miles per second as a wind speed unit for weather. As far as I know the normal units for wind speed are miles per hour.

[2020-01-25 22:34] elgorro commented on #86
Got the same issue after installation. Nothing in the logs. Checked the browser console and as well nothing obvious (= no error). But I found out, the master here is version 1.7.1 and in app-store it is version 1.6.4. Hope this helps.

[2020-02-09 04:04] Pontiac76 commented on #86
I was having the same problem, but found that an API is required.

Found in the configuration section at https://github.com/nextcloud/weather

[2020-02-14 11:06] e-alfred commented on #87
Nextcloud 18.0.1 is out now, @nerzhul can you pusblish the new releases to the App Store for the Weather app and OCSMS?

[2020-02-19 19:50] BloodyIron commented on #87
Okay so can we get this release to the app store? Moving to NC18 right now.

[2020-02-20 06:45] nerzhul commented on #87
done

[2020-02-20 06:45] #87 closed

[2020-02-20 06:45] nerzhul commented on #87
@e-alfred we may find a way to exchange the signing key as you are now the main maintainer on this app

[2020-02-20 16:33] BloodyIron commented on #87
Woot! Thanks! :D

[2020-02-26 20:32] Netspider commented on #86
adding a (free) api key didn't help in my case.

`{code: 502, response: null}`

[2020-02-27 08:54] e-alfred commented on #86
@Netspider @butrus @elgorro Which cities did you try to add?

[2020-02-27 08:56] Netspider commented on #86
- Leipzig
- Berlin, Deutschland

I got no dropdown or auto completion (don't know if it should be there)

[2020-03-15 17:00] SuperSandro2000 commented on #86
Same happening with the docker container without any error.

[2020-03-15 17:07] SuperSandro2000 commented on #86
After opening the example api call from openweathermap's email and re-pasting the api token from their email it works for now aperant reason.

[2020-03-30 15:55] RogerWaldrip commented on #66
Looks this issue hasn't been touched in a while.  I am unable to add a city also.  I get the same on screen error but slightly different in the log file. Here is what I see in the log file.

Array to string conversion at var/www/html/APACHE/nextcloud/lib/private/App/DependencyAnalyzer.php#378

Nextcloud 18.03 is being served from Ubuntu 18.04, MySQL, PHP7.2 and Apache2.4.  I get the same on screen

[2020-04-04 21:02] e-alfred commented on #87
@nerzhul Please drop me a line at magictimes@protonmail.com.

[2020-04-06 13:31] nerzhul commented on #87
done

[2020-04-17 09:22] butrus commented on #86
OK, I was unaware API key is needed. But I'm not closing the bug, since a more useful error message should be presented to the user ("API key is missing, please read XYZ and set the key in X => Y => Z" instead of just "Fatal error"). Thank you!

[2020-05-02 10:04] hashworks commented on #86
It seems like it takes a while until it actually uses the API key. Had the same bug at first, but it went away.

[2020-05-17 14:58] ostasevych commented on #86
Wouldn't be well to move the window with the API request to the app Settings but not at the NC global level settings?

[2020-06-09 06:29] FadeFx commented on #86
Guys OpenWeatherMap api keys will take some time to enable after creation. Did you try again after some time?

[2020-06-09 06:39] FadeFx opened #88 "Side Pannel Not Hieable In Mobile View"
The view on mobile devices is nowaday the most important, as these are always with the people. However, i weather app the left sidepannel is fixed and occupies about 80% of screen width which makes a bad experience.

### Steps to reproduce
1.open weather app on mobile device
2. Scroll left/right in the right panel

### Expected behaviour
Left panel should have a button to show/hide it in mobile vi

[2020-06-10 03:40] FadeFx commented on #86
As the api key is required only once per installation, this is actually the correct place

[2020-06-11 09:54] hashworks commented on #86
If that is the case this should be noted in the settings, to avoid issues like this one.

[2020-06-11 10:02] FadeFx commented on #86
Actually the signup page at OpenWeatherMap says that, this should be enough imo

[2020-06-11 10:11] hashworks commented on #86
"Should be" and "is" are two very different things ;)

[2020-06-11 10:17] FadeFx commented on #86
Ok, so in my opinion this is enough.

To make it clear, this is a limitation of OpenWeatherMaps and has nothing to do with the weather app itself.

[2020-06-14 17:50] FadeFx commented on #88
so i just found out that this is actually related to https://github.com/nextcloud/weather/pull/83
i will continue my discussion there...

[2020-06-14 17:50] #88 closed

[2020-06-14 23:07] paulcalabro opened #89 "App Is Displaying Template Text"
### Steps to reproduce
1. Load the page

### Expected behaviour
The page doesn't show the template text

### Actual behaviour
The page quickly displays template text in red before showing the final rendered content. I've observed this behavior for numerous major releases.

![Screen Shot 2020-06-14 at 3 52 43 PM](https://user-images.githubusercontent.com/585059/84606154-23406800-ae58-11ea-9c6b-2170

[2020-06-30 07:00] luntik2012 opened #90 "[FR] Disabling/customizing background images"
I don't think this is good readable

![image](https://user-images.githubusercontent.com/8270543/86093898-620d2980-bab8-11ea-81e9-27c292802d44.png)

Please, make an option to remove backgound or to set custom weather related background images.

[2020-07-25 13:09] FadeFx commented on #34
@berdosi @e-alfred why not just hide the left pannel and unhide it using a burger button? Id say its not necessarry to permanently see the cities list... this would also solve the space problem with list length

[2020-08-31 13:48] e-alfred commented on #90
As a temporary measure, you can change the images for the backgrounds in the `img` folder, but this would be reset after every app update. If you can provide us with better pictures under a permissive license (like CC-BY-SA or CC-BY or Public Domain) this would be highly appreciated!

[2020-09-21 08:40] Terrox opened #91 "Forecast is not using right times or wrong"
# Steps to reproduce
1. City Maitland, NSW, AU
2. Forecast times seem off, hot at 3am etc
3. ?

### Expected behaviour
Temps should match times

### Actual behaviour
Temps are off, perhaps it is using System time as if it were GMT time when it should be using GMT time instead?

### Server configuration

**Operating system**:
Centos7

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
7.

[2020-10-29 12:02] mmccarn opened #93 "App does not recognize the default locale"
### Steps to reproduce
1. Upgrade to NC20
2. View the weather widget with auto-location enabled

### Expected behaviour
Being in the US with the rest of Nextcloud recognizing my locale as en_US, I should see the temperature displayed in fahrenheit instead of celsius

### Actual behaviour
Temperature is displayed in celsius until I change my account locale in oc_preferences by:
* going to 'preferen

[2020-10-29 12:07] mmccarn commented on #93
My test server has 12 user accounts using a mix of user back-ends.

The only account with a 'locale' listed in oc_preferences is the one for which I followed the manual process of changing the local in user preferences, then changing it back.

That is - in user preferences, my locale was listed as "English (United States)".  I changed it to "English", reloaded the dashboard (Weather still reportin

[2020-10-29 19:41] e-alfred commented on #93
I am sorry but the weather widget on your Nextcloud dashboard is not part of this app, but of the Nextcloud core and is maintained by @eneiluj. We would like to integrate with the dashboard widget, but this is not happening currently.

Your app list does not even mention the weather app if you look at it. By the way, the weather app simply lets you change your preferred units (Fahrenheit, Celsisus

[2020-10-29 19:41] #93 closed

[2020-10-31 16:25] mmccarn commented on #93
Doh!

Thanks.

[2020-11-05 14:46] schniepp opened #94 "NC 20 Compatibility"
This app is currently not compatible with NC 20.

Please update, as I LOVE this app!
Thanks for all your work!

[2020-11-22 20:37] HiranChaudhuri commented on #86
I confirm to have the same symptoms. I just installed NextCloud 19.0.5 via 'docker pull nextcloud:19', added the weather app 1.7.4 and see the symptoms described above:
When adding a city I just get an error message.
When adding the free API key the behaviour does not change.

So the message asks me to complain in github. That seems to be all I can do...

[2021-01-09 22:59] gadgetguy08 commented on #91
I am experiencing the same issue.  Forecast time seems to be based on GMT.

[2021-01-14 17:40] john-clark commented on #86
Agree with @butrus April 17, 2020 comment saying a more descriptive error is needed.

[2021-01-18 01:49] mwerle commented on #86
Just adding my 2c that the "fatal error check your logs" (sounds scary!) should be replaced by "Contact your Administrator to configure the OpenWeatherMap API Key" (or similar).

This was actually raised/discussed in a bug all the way back in 2016.

And yes, it's in the README, but looks like many people (myself included) don't read that.  Furthermore, the readme configuration section should say t

[2021-01-23 09:01] elgorro commented on #86
Works for me since the update. But one big thing is the openweathermap-api:
The API has multiple inputs for search: My places' name is in several countries and in the same country a few time... So u can search with query [String]. There is a list provided by owm that includs all "supported" locations, so every place has his own unique id [int]. Also its theoreticly possible to set a place with coo

[2021-02-09 19:19] almereyda commented on #86
I had the same issue with not being able to retrieve data for locations initially.

And then it worked a few minutes later.

I agree the error message could be a little clearer about what is happening, esp. since it sends you to nextcloud.log, which does not exist in Docker installs, but also stdout doesn't show an error.

Also location selection could profit from suggestions of city names that ar

[2021-02-09 19:30] almereyda commented on #85
This is also available in the official `weather_status` app bundled with `nextcloud/server`. This happens completely client side:

https://github.com/nextcloud/server/blob/777fe3bf18f2a6c6887d623eb889cc7895823ebe/apps/weather_status/src/App.vue#L274-L281

https://github.com/nextcloud/server/blob/777fe3bf18f2a6c6887d623eb889cc7895823ebe/apps/weather_status/src/App.vue#L313-L320

Eventually one coul

[2021-02-09 19:33] almereyda commented on #94
It is working for me on a Nextcloud 20 arm64. What is the error that you are experiencing, might it be #86?

Eventually this has been fixed meanwhile, and the issue can be closed.

[2021-02-22 04:06] ldwellman commented on #84
I haven't seen any further comments on this thread, but I would also like to chime in and vote for it.  I'm in the US also, and I would love to see our imperial measurements on wind speed and barometric pressure.  As stated by @jimbolaya , our preference is mph (miles per hour) for wind speed and inches for barometric pressure.
Also, I believe the current showing of 'm/s' is NOT "miles per second"

[2021-02-22 04:19] ldwellman commented on #89
I'm also seeing this behavior -- but only on the first attempt to load.  After logging into Nextcloud, the first time I click on the weather icon on the top toolbar, I get these same errors as shown by @paulcalabro .  However, if I immediately click the same icon a second time, it loads the page properly, including my local city data which was entered previously.  Thereafter, it works for a while

[2021-02-27 17:57] DimitriOstapenko opened #96 "Units should be tied to location/locale/address"
When I enter location for weather to France and have French address as my personal,  metric units should be used, not imperial.
Temperature for Nice, France is shown in F, even though detailed map correctly shows temperature in C.

[2021-03-03 18:31] #96 closed

[2021-03-13 16:03] bobonthenet commented on #91
I'm having the same problem as well.

[2021-03-13 16:41] e-alfred commented on #94
Fixed by https://github.com/nextcloud/weather/releases/tag/1.7.4.

[2021-03-13 16:41] #94 closed

[2021-04-13 02:07] theozsnowman commented on #91
noticing the same issue on my install. appears to be ignoring server time zone and or PHP timezone settings

[2021-06-03 21:00] JMLatGitHub commented on #86
Hello, the problem seems to persist. NC V21.0.2, Weather-App V1.7.5, OpenWeatherMap API Key is registered.
Very shortly, the following message is displayed on the main interface when launching the Weather app:
{{ cityLoadError }}

Prema aquí para obter una clave para a API
(Click here to get an API key)

[2021-08-17 10:10] Joecowboy opened #97 "Error with Nextcloud 22.1.0 even with API key set"
I apologize for not making a pull request for this.

I am currently running:
Nextcloud v22.1.0
PHP version v8.0.8
Ubuntu v21.10

I kept kept getting the "Fatal error" after trying to add a City.  Looked at the Console window on web browser and kept getting a 500 error with angular.min.js.  So I updated to the latest build from Google. Then noticed after that in Nextcloud log PHP error with array i

[2021-08-19 21:35] Joecowboy commented on #97
I apologize once again I do not have it setup to push a Pull Request.

You can now search on:
ZIP Code,Country Code
Latitude,Longitude
City ID
City,State,Country Code

So, update the following files by copying it into the following directory or wherever you have your Nextcloud installed.
/var/www/nextcloud/apps/weather/lib/Controller/CityController.php
/var/www/nextcloud/apps/weather/lib/Controlle

[2021-10-10 14:13] EnteSuesssauer15 opened #98 "im might be too stupid to enter the api key"
i installed the app as usual and wanted to enter the api key but nothing happens, it always says that i need to click to get an api key but it wont work. Im using the nextcloud version 1.38.5.

im unsure if i need to enter either this one

api.openweathermap.org/data/2.5/weather?id={city id}&appid={API key}

or this one

[API key]

[2021-11-16 10:10] GAS85 commented on #98
API key is exactly a key value e.g. `n3r9tdzqwpuzushs1e0b4au0wsx4yv08` (not real key), that you have to put to the field.

[2021-12-01 19:58] leonardohlee opened #99 "Please add compatibility with Nextcloud V23"
Please add compatibility with Nextcloud V23

[2021-12-22 15:53] junpet commented on #86
I use Nextcloud (v23.0.0) in Docker. I installed yesterday the app and saved the API key. My API key exist for months (or years), I use it on my phone for one of my weather app. Still I get the error when I try to add any City. I checked log, but I cannot find anything.

[2022-02-04 10:45] nidamanx commented on #99
Hi, here are logs related to Nextcloud 23.0.1
Thanks!

[code]

[code]

[2022-02-16 13:54] Ayush62 opened #100 "Fatal error"
Whenever i try to add the weather i get a fatal error.
I already re-generated a new key on openweathermap and i restarted the cloud, but i still have the same error.
Does someone know what to do?

![Screenshot 2022-02-16 145439](https://user-images.githubusercontent.com/43236774/154278935-1a726e7f-e99f-420e-ad36-b017815eb26c.png)

[2022-02-16 22:54] elgorro commented on #100
Duplicate of #86 and openweathermap has updated their api.

[2022-02-18 16:02] vgnmnky commented on #86
Running Nextcloud (v23.0.1) in a Docker container (in stack with Nginx).  Tried with an old (active) key, and with a new one, and getting same error as everyone else.  Not got it working with any city.

[2022-03-10 18:09] mesohorne commented on #100
getting the same issue on fresh install. Log is empty, api key is updated

[2022-03-11 10:05] derekakelly commented on #86
Fresh install, and getting the same error with 502 bad gateway in chrome console.

[2022-03-14 18:00] Ayush62 commented on #86
does it have to do with the version?
before i had nextcloud before installed and i did not had this problem before.

[2022-04-04 23:15] Kaydeno113 opened #101 "Were do I add the api key and how do I get it"
I installed weather as anyone wood, when I go to add a town or city it says fatal error check logs
I go to the website provided (this GitHub page) it tells me to add the OpenWeatherMap API key.
I do not see how to get it I checked the app store but I do not see an option for OpenWeatherMap API key or OpenWeatherMap

Please help
Thanks

[2022-04-04 23:17] Kaydeno113 commented on #101
Update I found where to add the API key but how do I get it???

[2022-05-06 18:21] daffydock commented on #86
Well, add me to the pile. I am also having the same error when trying to add a new city. Previous cities work, no prob.

[2022-05-20 10:19] nerzhul commented on #101
Hello, you need to go on openweathermap website and create an account
Good luck :)

[2022-05-20 10:19] #101 closed

[2022-05-22 19:24] EmJotGeh opened #102 "Please add compatibility with Nextcloud V24"

[2022-07-24 18:32] medismail commented on #86
I have the same issue in nextcloud 23, the problem is that 'cod' after parsing the json result is in keys not in values check https://github.com/nextcloud/weather/pull/103

[2022-08-13 10:23] p-bo commented on #101
@Kaydeno113 Where did you found these settings please? In texts in app there is stated:
`Your OpenWeatherMap API key is invalid. Contact your administrator to configure a valid API key in Additional Settings of the Administration`
But in Settings -> Administration section -> Additional Settings, there are settings for other apps, but nothing for Weather :-(
(Nextcloud 24.0.3, latest Weather app)
@

[2022-08-13 10:30] p-bo commented on #101
@Kaydeno113 @nerzhul Nevermind - interchanged Weather and Weather status app - sorry for that.

[2022-11-08 03:20] piiskop opened #104 "Rain information not shown if using dyslexia font"
<!--
Thanks for reporting issues back to Nextcloud! This is the issue tracker of Nextcloud, if you have any support question please check out https://nextcloud.com/support

### Steps to reproduce
1. In _Appearance and accessibility_ turn on dyslexia font!
3. In _Weather_ click a location!
4. See that there is no scrollbar to see the rain information, only temperatures are shown.

### Expected beha

[2022-11-08 03:27] piiskop commented on #104
In addition to the description that i actually provided but github refuses to show: after switching from or to the dyslexia font, _Weather_ shows untranslated strings and a location must be readded in order to restore the full list of locations.

[2022-11-23 17:42] EmJotGeh opened #105 "Please add compatibility with Nextcloud V25"
some issues with the new Nextcloud Design.

[2022-11-28 18:25] welchomatic commented on #67
I'm having this issue.  In my case, when I want to use Duluth, US I have two choices.  Duluth, Minnesota, US and Duluth, Georgia, US.  Both cities have the same string - Duluth, US.  Is there a way to have the API choose the second Duluth, given that the string for both cities is the exact same?